.reassurance-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }

  .left-side, .right-side {
    width: 45%;
  }

  .heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
  }

  .card {
    background-color: #f0f0f0;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.125rem;
  }

  .card p {
    display: flex;
    align-items: center;
  }

  .card p svg {
    margin-right: 10px;
  }

  .card:hover {
    background-color: #e0e0e0;
  }
