/* YourSection Styles */
.problem-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50vh; /* 1/2 of the viewport height */
    background-color: #f0f0f0; /* Grey background */
    padding: 10px 0; /* 10px padding for top and bottom */
  }

  .content {
    max-width: 50%; /* Content takes up half of the section */
    text-align: left;
  }

  .main-heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .sub-heading {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    color: #333;
  }
